* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    height: 90px;
    /*background: rgb(14, 13, 12);*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #e8e8e8;
}

a img {
    opacity: 0.65;
}

a img:hover{
    opacity: 1;
}

.btn-hamburger {
    font-size: 1.5rem;
    padding: 10px;
    background: none;
    cursor: pointer;
    display: none;
}

nav ul {
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-family: 'IBM Plex Sans Thai', sans-serif;
    color: #999;
    font-size: 18px;
    /*background: chartreuse;*/
    padding: 15px 30px;
    transition: .3s ease;
}

nav ul li a:hover{
    color: #007685;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    /*padding-left: 50px;**/
    font-family: 'Mitr', sans-serif;
}

.container h2{
    font-family: 'Mitr', sans-serif;
    color: #0e7977;
    font-size: 40px;
    text-align: center;
}

.main-content{
    max-width: 700px;
    margin: auto;
}

.box{
    border: 2px solid #000000;
    /*background: linear-gradient(60deg, #0e7977, #bbffea);*/
    /*background-color: #0e7977;*/
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

.box h2{
    font-family: 'Mitr', sans-serif;
    color: #000000;
    font-size: 30px;
    padding-top: 10px;
}

.box p{
    font-family: 'Mitr', sans-serif;
    color: #000000;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-decoration: none;
}

.box a p{
    font-family: 'Mitr', sans-serif;
    color: #000000;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-decoration: none;
}





@media screen and (max-width: 900px){
    .container{
        width: 100px;
    }

    nav{
        /*background: mediumaquamarine;*/
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .btn-hamburger{
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 10;
    }

    nav img{
        margin: 20px 0;
    }

    nav ul{
        width: 100%;
        background: #fff;
        display: none;
        /*display: flex;*/
        flex-direction: column;
        transition: .3s ease;
    }

    nav ul li a{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #e5e5e5;
    }

    .nav-active {
        display: flex;
    }
}